" fuzzy finding
set rtp+=/usr/local/opt/fzf

imap jh <Esc>
nnoremap <c-d> <c-d>zz
nnoremap <c-u> <c-u>zz
nnoremap <c-D> <c-D>zz
nnoremap <c-U> <c-U>zz
nnoremap n nzz
nnoremap N Nzz
set number
set NERDTree
:command NE NERDTree
set relativenumber

" Enable searching as you type, rather than waiting till you press enter.
set incsearch
